* {
  margin: 0;
  padding: 0;
  font-family: Courier New, monospace;
  background-image: url(https://media.istockphoto.com/photos/black-brick-wall-dark-background-for-design-picture-id639173848?k=20&m=639173848&s=170667a&w=0&h=uPlHGB2kYtThnKBnoiWdYeBJEhrztbeSqcV1VtRp_Ec=);
  color: whitesmoke;
  
}



.a {
  width: 100;
  min-height: 100;
  background-position: center;
  position: relative;
  margin-top: 0px;
  margin-bottom: 200px;
  padding-bottom: 50px;
  padding-top: 30px;
 
 
 
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.links {
  flex: 1;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
}
.links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    
    
}
a::after{
    content:'';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
a:hover::after{
    width: 100%;
}
.name{
    text-align: center;
    margin-top: 70px;
}
.name h1{
    font-size: 68px;
    animation-duration: 2s;
  animation-name: slidein;

}
@keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%;
    }
  
    to {
      margin-right: 1%;
      width: 100%;
    }
  }
.name p{
    font-size: 15px;
    margin: 10px 0 40px;
    animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

}
.q{
    border: 5px;
    border-color: aliceblue;

    
}
span{
    font-family: 'Snell Roundhand', cursive;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-right: 65px;

}
.peter{
    margin-top: 240px;
    border: 1px;
    border-color: black;
    width: 100px;
    height: 100px;
    background-color: black;
    padding: 10px;
}
.x{
    margin-top: 350px;
    text-align: center;
    
}
.table{
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  margin-left: 450px;
}
.forms{
 
  margin-left: 500px;
  margin-top: 40px;
 width: 100px;
 height: 100px;
}